* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}

.value {
  width: 56px;
  font-size: 36px;
  color: white;
  border: 1px solid #569FF7;
  border-radius: 50%;
  background-color: #569FF7;
}

.label {
  font-size: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
}

.field:last-child {
  margin-right: 0px;
}
